/* =-=-=-=-=-=-=-=-=-= Global =-=-=-=-=-=-=-=-=-= */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --dark-color: hsl(255, 68%, 31%);
  --primary-color: hsl(255, 53%, 50%);
  --primary-light: hsl(257, 100%, 93%);
  --primary-light-2: hsl(252, 100%, 97%);
  
  --headline: hsl(210, 11%, 15%);
  --paragraph: hsl(210, 9%, 31%);
  --white: hsl(0, 0%, 98%);
  --gray: hsl(0, 0%, 58%);

  --nav-height: 7.2rem;

  font-size: 62.5%; 
}

html {
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'DM Sans';
  font-size: 1.6rem;
  text-align: center;

  overflow: overlay;
  
  background-color: var(--white);
}

.wrapper {
  width: 37.5rem;
  margin-inline: auto;
  padding-inline: 2.4rem;
}

section {
  padding-block: 10rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* =-=-=-=-=-=-=-=-=-= Navigation =-=-=-=-=-=-=-=-=-= */

nav {
  display: flex;

  height: var(--nav-height);

  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

nav .logo {
  font-size: 2rem;
}

nav .logo span:first-child {
  color: var(--headline);
  font-weight: 500;
}

nav .logo span:last-child {
  color: var(--primary-color);
  font-weight: 700;
}

nav .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav button {
  border: 0;
  background: none;
  cursor: pointer;
}

/* =-=-=-=-=-=-=-=-=-= Navigation On Scroll =-=-=-=-=-=-=-=-=-= */

nav.scroll {
  background-color: var(--primary-color);
  width: 100vw;
}

nav.scroll .logo span {
  color: #fff;
}

nav.scroll svg path{
  stroke: #fff;
}

/* =-=-=-=-=-=-=-=-=-= Show menu =-=-=-=-=-=-=-=-=-= */

body.show-menu {
  overflow: hidden;
}

body.show-menu > :not(nav) {
  display: none;
}

.menu {
  transform: translateY(-100%);
  transition: transform 0.5s;
}

.menu,
.close-menu,
body.show-menu .open-menu {
  opacity: 0;
  visibility: hidden;
}

body.show-menu .menu,
body.show-menu .close-menu {
  opacity: 1;
  visibility: visible;
}

body.show-menu .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh; 
  transform: translateY(0); 

  padding-top: var(--nav-height);

  background-color: var(--primary-color);
}

body.show-menu nav {
  position: relative;
}

body.show-menu .logo,
body.show-menu nav button {
  position: relative;
  z-index: 2;
}

body.show-menu .logo span {
  color: #fff;
}

body.show-menu nav button svg path{
  stroke: #fff;
}

.menu ul:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4.8rem;

  margin-top: 6rem;
}

.menu ul li a {
  font-weight: 700;
  line-height: 3.1rem;
  font-size: 2.4rem;
  color: #fff;
}

.menu .button {
  background-color: #fff;
  border-radius: 4rem;

  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.3rem;
  text-transform: uppercase;
  color: var(--primary-color);

  display: inline-block;
  padding: 1.6rem 3.2rem;
  margin-top: 4.8rem;
  margin-bottom: 8rem;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3.2rem;
}

/* =-=-=-=-=-=-=-=-=-= Home =-=-=-=-=-=-=-=-=-= */

#home {
  padding-top: calc(4.1rem + var(--nav-height));
}

#home::before {
  content: '';
  display: block;
  width: 100%;
  height: 108rem;

  background-color: var(--primary-light);

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

#home h4 {
  font-size: 1.4rem;
  color: var(--dark-color);
  margin-bottom: 1.6rem;
}

#home h1 {
  font-size: 3.4rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: 2.4rem;
}

#home p {
  font-size: 1.8rem;
  line-height: 150%;
  font-weight: 400;
  color: var(--paragraph);

  margin-bottom: 3.2rem;
}

#home button {
  background: var(--primary-color);

  border: none;
  border-radius: 4rem;

  margin-bottom: 6rem;

  height: 6.2rem;
  width: 26.3rem;

  color: #fff;
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;

  margin-inline: auto;
}

#home > img {
  display: block;
  width: 26.4rem;
  margin-inline: auto;
  object-position: 0 2rem;
}

#home .stats {
  width: 32.7rem;
  padding: 4rem 0;
  margin-inline: auto;

  background-color: var(--primary-light-2);
  border-radius: 1px solid var(--primary-light);
  border-radius: .6rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6rem;
} 

#home .stat h3 {
  font-size: 4.8rem;
  color: var(--headline);
  line-height: 130%;

  margin-bottom: .4rem;
}

#home .stat p {
  margin: 0;
  color: var(--primary-color);
  font-weight: 2.4rem;
}

/* =-=-=-=-=-=-=-=-=-= Services =-=-=-=-=-=-=-=-=-= */

#services header {
  margin-bottom: 6rem;
}

#services header h4 {
  font-size: 1.4rem;
  line-height: 2.1rem;
  text-transform: uppercase;
  letter-spacing: .08rem;
  color: var(--primary-color);

  margin-bottom: 1.6rem;
}

#services header h2 {
  font-size: 3rem;
  line-height: 3.9rem;
  color: var(--headline);
}

#services .cards {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

#services .card {
  padding: 2.4rem;

  text-align: left;

  background-color: #fff;
  border: 1px solid var(--primary-light-2);
  border-radius: .6rem;
}

#services .card h3 {
  font-size: 2.4rem;
  color: var(--headline);
  line-height: 3.1rem;

  margin-block: 1.6rem;
}

#services .card p {
  line-height: 150%;
  color: var(--paragraph);
}



